<section class="user-activity-component ml-8">
  <section class="flex gap-2 mt-2">
    <!-- User visiting products -->
    <div class="grow">
      <h3>Active users viewing games 👀</h3>

      <div :for={{product_name, users} <- @user_activity}>
        <h3>{product_name}</h3>

        <ul>
          <li :for={user <- users}>
            {user.email}
          </li>
        </ul>
      </div>
    </div>
    <!-- User taking the survey -->
    <div class="grow">
      <h3>{length(@survey_users_email)} users are taking the survey 👤</h3>
      <ul>
        <li :for={user <- @survey_users_email}>
          {user.email}
        </li>
      </ul>
    </div>
  </section>
</section>
