<section>
  <Component.hero content="Survey">
    Please fill put our survey.
  </Component.hero>
  <hr class="my-4" />
  <%= if @demographic do %>
    <Show.details demographic={@demographic} class="my-2" />
  <% else %>
    <.live_component
      module={PentoWeb.DemographicLive.Form}
      id="demographic_form"
      current_user={@current_user}
    />
  <% end %>
</section>
